*{margin: 0;padding: 0;}
header{
	display: flex;
	background-color:       
	#edf2fb;
	padding: 0.5vw;
	margin: 0.5vw;
	text-decoration: none;
	font-family: 'Mochiy Pop P One', sans-serif;
}
header ul a{padding: 5rem;
font-size: 2rem;
text-decoration: none;
color: #abc4ff;
}

header ul a:hover{
	/*background-color: #a0cde9;*/
	color:#a0cde9;
	font-weight:bold;
	
}
.center{align-items: center;
justify-content: center;
padding-left: 10rem;}
button {text-decoration: none;}
 button a:hover{
		color:#000;
	font-weight:bold;
text-decoration: none;}